@import url("https://use.typekit.net/jxv0qyr.css");

main {
    background-color: #F7F8FC;
}

.summary-card {
    font-family: "mulish-variable", sans-serif;

    > h4 {
        color: #9FA2B4;
        font-size: 19px;
    }

    > p {
        font-size: 40px;
    }

    &:hover {
        border: 1px solid #3751FF;
        color: #3751FF;

        > h4 {
           color: #3751FF; 
        }
    }
}