@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

// Used to override Bootstrap's native font family

:root {
    --bs-body-font-family: 'Mulish', sans-serif;
}

main {
    background-color: #F7F8FC;
}

.card-title {
    color: #9FA2B4;
}

.card-text {
    font-size: 24px;
}

.summary-card {

    > h4 {
        color: #9FA2B4;
    }

    &:hover {
        border: 1px solid #3751FF;
        color: #3751FF;

        > h4 {
           color: #3751FF; 
        }
    }
}
// Color 


// Font Classes 

.xs-text {
    font-size: 14px;
}

.sm-text {
    font-size: 16px;
}

.med-text {
    font-size: 19px;
}

.large-text {
    font-size: 24px;
}

.xl-text {
    font-size: 40px;
}

.regular-text {
    font-weight: 400;
} 

.semi-bold-text {
    font-weight: 600;
}
.bold-text {
    font-weight: 700;
}

@media (min-width: 768px) {
    
}