@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

// Used to override Bootstrap's native font family

:root {
    --bs-body-font-family: 'Mulish', sans-serif;
}

main {
    background-color: #F7F8FC;
}

.card-title {
    color: #9FA2B4;
    font-size: 16px;
    font-weight: 400;
}

.card-text {
    font-size: 24px;
}

.summary-card {

    font-weight: 700;

    > h4 {
        color: #9FA2B4;
        font-size: 19px;
    }

    > p {
        font-size: 40px;
    }

    &:hover {
        border: 1px solid #3751FF;
        color: #3751FF;

        > h4 {
           color: #3751FF; 
        }
    }
}

@media (min-width: 768px) {
    
}