@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

// Used to override Bootstrap's native font family

:root {
    --bs-body-font-family: 'Mulish', sans-serif;
}

.form-control::placeholder {
    color: #C5C7CD;
}

main {
    background-color: #F7F8FC;
}

.legend-icon {
    width: 16px;
}

.summary-card {

    > h4 {
        color: #9FA2B4;
    }

    &:hover {
        border: 1px solid #3751FF;
        color: #3751FF;

        > h4 {
           color: #3751FF; 
        }
    }
}

// Color 

.primary-text {
    color: #252733;
}

.secondary-text {
    color: #9FA2B4;
}

.accent-color {
    color: #3751FF;
}


// Font Classes 

.xxs-text {
    font-size: 12px;
}

.xs-text {
    font-size: 14px;
}

.sm-text {
    font-size: 16px;
}

.med-text {
    font-size: 19px;
}

.large-text {
    font-size: 24px;
}

.xl-text {
    font-size: 40px;
}

.regular {
    font-weight: 400;
} 

.semi-bold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}

// Badges - !important is needed to override bootstrap defaults
.badge {
    font-size: 11px !important;
    font-weight: 600 !important;
}
.text-bg-warning {
    color: #FFFFFF !important;
    background-color: #FEC400 !important; 
}

.text-bg-success {
    background-color: #29CC97 !important;
}

.text-bg-secondary {
    color: #9FA2B4 !important;
    background-color: #F0F1F7 !important;
}

@media (min-width: 768px) {
    
}