@import url("https://use.typekit.net/jxv0qyr.css");

* {
    font-family: "mulish-variable", sans-serif;
}

main {
    background-color: #F7F8FC;
}

.card-title {
    color: #9FA2B4;
    font-size: 16px;
    font-weight: 400;
}

.card-text {
    font-size: 24px;
}

.summary-card {

    font-weight: 700;

    > h4 {
        color: #9FA2B4;
        font-size: 19px;
    }

    > p {
        font-size: 40px;
    }

    &:hover {
        border: 1px solid #3751FF;
        color: #3751FF;

        > h4 {
           color: #3751FF; 
        }
    }
}