@import url("https://use.typekit.net/jxv0qyr.css");

.summary-card {
    font-family: "mulish-variable", sans-serif;

    > h4 {
        font-size: 19px;
    }

    > p {
        font-size: 40px;
    }
}