@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

// Variables

$primary: #252733;
$secondary: #9FA2B4;
$tertiary: #A4A6B3;
$active-accent: #DDE2FF;
$blue-accent: #3751FF;


// Used to override Bootstrap's native font family

:root {
    --bs-body-font-family: 'Mulish', sans-serif;
}

.form-control::placeholder {
    color: #C5C7CD;
}

// Minor CSS Overrides

main {
    background-color: #F7F8FC;
}

#icons img {
    width: 16px
}

#profile > img {
    width: 44px;
}

#sidenavHeader {
    color: $tertiary;

    > img {
        width: 32px;
        aspect-ratio: 1/1;
    }
}

#sidenavItem > a {
    > img {
        width: 16px;
        aspect-ratio: 1/1;
    }

    > p {
        color: $tertiary;
    }
}

.active-nav {
    background-color: #9fa2b413;
    border-left: 2px $active-accent solid;
}

.legend-icon {
    width: 16px;
}

.summary-card {

    > h4 {
        color: #9FA2B4;
    }

    &:hover {
        border: 1px solid $blue-accent;
        color: $blue-accent;

        > h4 {
           color: $blue-accent; 
        }
    }
}

// Color Classes

.primary-text {
    color: $primary;
}

.secondary-text {
    color: $secondary;
}

.active-text {
    color: $active-accent;
}

.accent-color {
    color: $blue-accent;
}


// Font Classes 

.xxs-text {
    font-size: 12px;
}

.xs-text {
    font-size: 14px;
}

.sm-text {
    font-size: 16px;
}

.med-text {
    font-size: 19px;
}

.large-text {
    font-size: 24px;
}

.xl-text {
    font-size: 40px;
}

.regular {
    font-weight: 400;
} 

.semi-bold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}

// Badges - !important is needed to override bootstrap defaults
.badge {
    font-size: 11px !important;
    font-weight: 600 !important;
}
.text-bg-warning {
    color: #FFFFFF !important;
    background-color: #FEC400 !important; 
}

.text-bg-success {
    background-color: #29CC97 !important;
}

.text-bg-secondary {
    color: $secondary !important;
    background-color: #F0F1F7 !important;
}

@media (min-width: 768px) {
    
}